<div class="card mb-3" data-aos="fade-up">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-header d-flex align-items-center flex-wrap">
        <h5 class="card-title align-middle mb-0">{{event.title}}</h5>
        <button *ngIf="canDeleteEvent" type="button" class="btn btn-sm btn-outline-danger ml-auto" (click)="deleteEvent()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <div class="card-text row">
          <p class="col-md-10">{{event.description | truncate:[256, '...']}}</p>
          <h4 class="text-right col-md-2 card-subtitle mb-2 text-danger font-weight-bold mt-0">{{event.date | date:'dd MMM yyyy hh\'h\'mm':'UTC'}}</h4>
        </div>
        <div class="card-text d-flex align-items-center">
          <small class="text-muted">Publié {{event.date_creation | dateAgo}}.</small>

          <div class="ml-auto">
            <small [ngClass]="{'text-success':success, 'text-danger':!success, 'mr-2':true}" [@showSubscriptionMessage]='showMessage'>{{message}}</small>
            <ng-container *ngIf="!subscribed; else buttonUnsubscribe">
              <button class="btn btn-primary btn-sm" (click)="subscribeEvent(event.id)" [disabled]="event.isFull">S'inscrire</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #buttonSubscribe>

</ng-template>

<ng-template #buttonUnsubscribe>
  <button class="btn btn-success btn-sm" (click)="unsubscribeEvent(event.id)">Se désinscrire</button>
</ng-template>
