<div class="card mb-3" data-aos="fade-up">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src="https://images.math.cnrs.fr/IMG/png/section8-image.png" class="card-img" alt="...">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{event.titre}}</h5>
        <p class="card-text">{{event.description}}</p>
        <div class="card-text d-flex align-items-center">
          <small class="text-muted">Publié {{event.date_creation | dateAgo}}.</small>

          <div class="ml-auto">
            <small class="text-primary mr-2" [@showSubscriptionMessage]='showMessage'>Vous êtes
              maintenant inscris à cet événement.</small>
            <button class="btn btn-primary btn-sm" (click)="subscribeEvent(event.id)" [disabled]="subscribed">S'inscrire
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
