.peach-gradient-rgba {
    background: linear-gradient(40deg,rgba(255,216,111,.8),rgba(252,98,98,.8))!important;
}
.view {
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
}

.img-partner {
    max-height: 100px;
    width: 0 auto;
}