<div class="view"
     style="background-image: url('assets/img/back_party.jpg'); background-repeat: no-repeat;
     background-size: cover; background-position: center center;">
  <div class="mask pattern-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
          <h1 class="h1-responsive font-weight-bold mt-sm-5 text-white">Trouvez votre événement</h1>
          <hr>
          <h6 class="mb-4 text-white">Trouvez l'événement qui vous correspond ou créez celui qui leurs fait envie.
            Sausage Events vous boost la visibilité de votre événement et permet l'achat de ticket sans compromis.
          </h6>

          <a class="btn btn-light mr-1">Chercher un événement</a>
          <a class="btn btn-outline-light text-white">Créer un événement</a>
        </div>
      </div>
    </div>
  </div>
</div>
