<div class="view"
     style="background-image: url('assets/img/back_party.jpg');">
  <div class="mask peach-gradient-rgba py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mt-xl-5 mb-5">
          <h1 class="h1-responsive font-weight-bold mt-sm-5 text-white">Trouvez votre événement</h1>
          <hr>
          <h6 class="mb-4 text-white">Trouvez l'événement qui vous correspond ou créez celui qui leurs fait envie.
            Sausage Events vous boost la visibilité de votre événement et permet l'achat de ticket sans compromis.
          </h6>

          <a class="btn btn-lg btn-light mr-1 mt-1">Chercher un événement</a>
          <a class="btn btn-lg btn-outline-light mt-1">Créer un événement</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-5 text-center">
  <h1 class="mb-4 text-muted">Partenaires</h1>
  <div class="row d-flex justify-content-around partenaires">
    <img src="https://file.diplomeo-static.com/file/00/00/01/45/14526.svg" alt="Université de Montpellier" class="img-partner mt-1">
    <img src="https://file.diplomeo-static.com/file/00/00/01/45/14526.svg" alt="Université de Montpellier" class="img-partner mt-1">
    <img src="https://file.diplomeo-static.com/file/00/00/01/45/14526.svg" alt="Université de Montpellier" class="img-partner mt-1">
  </div>
</div>