<div class="view"
     style="background-image: url('assets/img/back_party.jpg');">
  <div class="mask peach-gradient-rgba o-padding">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 text-center mt-xl-5 mb-5" data-aos="fade-in">
          <h1 class="h1-responsive font-weight-bold mt-sm-5 text-white">Trouvez votre événement</h1>

          <h6 class="mb-4 text-white mt-5">Cherchez l'événement qui vous correspond ou bien créez celui qui leurs fait
            envie.
            Sausage Events boost les événements du monde entier en proposant des événements à portée et des inscriptions
            instantanées.</h6>
          <a class="btn btn-lg btn-light mr-1 mt-3" data-aos="fade-in" data-aos-delay="300">Chercher un événement</a>
          <a class="btn btn-lg btn-outline-light mt-3" data-aos="fade-in" data-aos-delay="500">Créer un événement</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5 text-center o-padding align-content-between">
  <h1 class="mb-4 text-muted">Partenaires et adhérents</h1>
  <div class="row d-flex justify-content-around">
    <img data-aos="zoom-in" src="assets/img/partners/14526.svg"
         alt="Université de Montpellier" class="img-partner mt-1">
    <img data-aos="zoom-in"
         src="assets/img/partners/hellfest-logo-2018.png" alt="Hellfest"
         class="img-partner mt-1">
    <img data-aos="zoom-in" src="assets/img/partners/logo-fise-action-sports-festival-montpellier.png"
         alt="Fise Montpellier" class="img-partner mt-1">
    <img data-aos="zoom-in"
         src="assets/img/partners/480px-Paris_Games_Week_%282018%29_Logo.png"
         alt="Paris Games Week" class="img-partner mt-1">
    <img data-aos="zoom-in" src="assets/img/partners/206f099904bf88569cd3f4e621675d3b.png"
         alt="Paris Manga Show" class="img-partner mt-1">
    <img data-aos="zoom-in" src="assets/img/partners/gaumont-pathe.png"
         alt="Cinema Pathé-Gaumont" class="img-partner mt-1">
  </div>
</div>

<div class="container-fluid infos-creation text-white text-center o-padding d-flex align-content-between
  justify-content-center flex-wrap">
  <h1 class="mb-5">Créer un événement n'a jamais été aussi simple.</h1>
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-md-6">
      <h5>Sausage Events vous propose un large choix de fonctionnalités permettant la création de votre événement en
        seulement quelques minutes et déjà visible par des millions d'utilisateurs.</h5>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row text-center d-flex justify-content-around">
      <div class="col-xs-3">
        <figure class="img-desc" data-aos="fade-in" data-aos-delay="50">
          <img src="assets/img/ok.png" alt="Simple">
          <figcaption>Création et suivi d'événement simple.</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure class="img-desc" data-aos="fade-in" data-aos-delay="200">
          <img src="assets/img/ticket.png" alt="Dématérialisé">
          <figcaption>Paiement et e-ticket sur internet.</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure class="img-desc" data-aos="fade-in" data-aos-delay="350">
          <img src="assets/img/piggy-bank.png" alt="Gratuit">
          <figcaption>Création de compte et d'évenement gratuite.</figcaption>
        </figure>
      </div>
      <div class="col-xs-3">
        <figure class="img-desc" data-aos="fade-in" data-aos-delay="500">
          <img src="assets/img/clock.png" alt="Rapide">
          <figcaption>Inscriptions et participations en moins de 3 minutes.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
