<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/img/logo.png" width="50" height="50" class="d-inline-block" alt="Logo Sausage Events">

  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mr-5">
      <a class="nav-item nav-link active" routerLink="/">Accueil</a>
      <a class="nav-item nav-link" routerLink="/evenements">Événements</a>
      <a class="nav-item nav-link">A propos</a>
    </div>
    <p class="my-2 my-lg-0 mr-3">
      <ng-template [ngIf]="!auth.getToken()" [ngIfElse]="connected">
        <span>
          <button class="btn btn-outline-secondary mr-3" routerLink="/connexion">Connexion</button>
          <button class="btn btn-outline-primary" routerLink="/inscription">S'inscrire</button>
        </span>
      </ng-template>
      <ng-template #connected>
        <span>
          <a *ngIf="auth.getToken()" class="font-weight-bold mr-5 text-muted" routerLink="/moncompte">Mon compte</a>
          <button class="btn btn-outline-primary" (click)="auth.logout()">Déconnexion</button>
        </span>
      </ng-template>
    </p>
  </div>
</nav>
